<% provide(:title, 'All WIBNIs') %>
<h1>All WIBNIs</h1>

<div class="container-fluid products-container">
  <%= will_paginate %>
    <% (@categories.order:id).each do |category|%>
      <div class="container-fluid category-container">
        <%if category.wibnis.length !=0%>
        <h3><%=category[:name]%></h3>
          <%category.wibnis.each do |wibni_cat|%>
            <div class="col-md-4 col-xs-12">
              <div class="cat-wibni-container ">
                <a href= "<%= "/wibnis/#{wibni_cat.id}" %>">
                  <%=image_tag wibni_cat.picture.url if wibni_cat.picture? %>
                </a>
                <div class="wibni-words-container">
                  <p><%=link_to "#{wibni_cat[:title]}", "/wibnis/#{wibni_cat.id}"%></p>
                  <p>"WIBNI sparked by" <%=link_to"#{wibni_cat.user[:name]}", "/users/#{wibni_cat.user[:id]}"%>
                </div>
              </div>
            </div>
          <%end%>
        <%end%>
      </div>
    <%end%>
  <%= will_paginate %>
</div>
