<div class="homepage">
      <div class="center landing-page-container">
        <%if !params[:id]%>

          <p id="top-txt">Spark the change you wish to see</p>

          <p id="bottom-txt"><span>Come.</span> Make the world a better place</p>
        <%else%>
          <div class="cat-menu">
            <p>
              WIBNIs in
              <div class="dropdown dropdown-menu-txt">
                <a href="#" class="dropdown-toggle cat-dropdown" data-toggle="dropdown">
                  <%=Category.find(params[:id]).name%> <b class="glyphicon glyphicon-menu-down"></b>
                </a>
                <ul class="dropdown-menu cat-dropdown-menu">
                  <% (category_index.order:id).each do |category|%>
                    <li><%= link_to "#{category.name}", "/categories/#{category.id}" %></li>
                  <%end%>
                </ul>
              </div>
            </p>
          </div>
          <div class="sort-menu">
            <p>
              sorted by
            </p>
            <div class="dropdown dropdown-menu-txt">
              <a href="#" class="dropdown-toggle sort-dropdown" data-toggle="dropdown">
                automagic<b class="glyphicon glyphicon-menu-down"></b>
              </a>
              <ul class="dropdown-menu sort-dropdown-list">
                <li><%= link_to "date created", '#' %></li>
                <li><%= link_to "support", '#' %></li>
                <li><%= link_to "users", '#' %></li>
              </ul>
            </div>

          </div>
        <%end%>
      </div>
    </a>
</div>
