<% provide(:title, @category.name) %>
<%=render "/shared/top_banner" %>
<div class="container">
  <h1><%=@category.name%></h1>
    <%@category.wibnis.each do |wibni_cat|%>
      <div class="col-md-4 col-xs-12">
        <div class="cat-wibni-container">
          <a href= "<%= "/wibnis/#{wibni_cat.id}" %>">
            <%=image_tag wibni_cat.picture.url if  wibni_cat.picture? %>
          </a>
          <div class="wibni-words-container">
            <p><%=link_to "#{wibni_cat[:title]}",  "/wibnis/#{wibni_cat.id}"%></p>
            <p>"WIBNI sparked by" <%=link_to"#{wibni_cat.user[:name]}",  "/users/#{wibni_cat.user[:id]}"%>
          </div>
          <div class="num-supporters">
            <% if Vote.where(wibni_id: wibni_cat.id).count == 0%>
              No one supporting yet
            <% elsif Vote.where(wibni_id: wibni_cat.id).count == 1 %>
              <%= Vote.where(wibni_id: wibni_cat.id).count%> person supporting
            <% else %>
              <%= Vote.where(wibni_id: wibni_cat.id).count%> people supporting
            <% end %>
          </div>
        </div>
      </div>
    <%end%>


</div>
